.wishlistTitle {
  margin-top: 50px;
  h2 {
    color: #205072;
  }
}
.load {
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: bold;
  font-size: 15px;
  margin-top: 60px;
  width: 50px;
  height: 50px;
  border: solid 5px #DE5B6D;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
    -webkit-transition: all 0.5 ease-in;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1.0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

       transition: all 0.5 ease-in;
    animation-name: rotate;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.wishlists {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wishlistCard {
  background-color: white;
  width: 300px;
  padding: 40px 20px;
  border-radius: 20px;
  margin-bottom: 30px;

  &-image {
    text-align: center;
    img {
      width: 150px;
    }
  }
  &-title {
    margin-top: 20px;
    color: #47CACC;
  }

  &-price {
    color: #655790;
    margin-top: 16px;
    font-size: 20px;
    &-discount{
        color: #a42626;
        font-weight: 500;
        font-size: 16px;
        text-decoration: line-through;
    }
  }
  &-btnPos {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  &-btn {
    cursor: pointer;
    background-color: #f9f9f9;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out;
    p {
      font-weight: bold;
      color: #56C596;
    }
  }
  &-btn-red {
    cursor: pointer;
    background-color: #f9f9f9;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out;
    p {
      font-weight: bold;
      color: #a42626;
    }
  }
  &-btn:hover {
    transform: scale(1.1);
  }
  &-btn-red:hover {
    transform: scale(1.1);
  }
}

.whishlist-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 120px;
  margin: auto;
  margin-top: 40px;
}
.confirmbtn {
  text-align: center;
  cursor: pointer;
  background-color: #f9f9f9;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-in-out;

  font-weight: bold;
  color: #56C596;
}

.gobackbtn {
  margin-top: 40px;
  margin-bottom: 200px;
  text-align: center;
  cursor: pointer;
  background-color: #f9f9f9;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-in-out;

  font-weight: bold;
  color: #47CACC;
}

.gobackbtn:hover {
  transform: scale(1.1);
}
.confirmbtn:hover {
  transform: scale(1.1);
}
.discountBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #47CACC;
    color: #FFFFFF;
    font-weight: 700;
    padding: 5px 0px;
    border-radius:  0px 0px 10px 10px;
}
.loading {
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: bold;
  font-size: 15px;
  margin-top: 60px;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
 @-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
